body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    align:center;
}
.highlight {
  background-color: yellow;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
}

select {
  display: inline-block;
  float: left;
}

.rateval {
  display: inline-block;
  float: left;
}


